/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2017, 5:06:10 PM
    Author     : USER 1
*/
#MainDiv {
    display: flex;
}

.positionsTable {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 18px;
    margin: 50px 120px;
    height: 500px;
    width: 480px;
    text-align: left;
    background: rgb(21, 139, 242);
    background: rgba(21, 139, 242,0.2);
    float: left;
/*    border: 2px dotted grey;*/
}

.checkboxform{
    border: 1px black solid;
    width: 200px;
    margin-top: 50px;
    height: 500px;
    background: rgb(157, 21, 242);
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 25px;
}

#chart{
    float: right;
    height: 500px;
    margin: 50px 120px;
    width: 480px;
}
tr:hover{
   background-color: rgb(157, 21, 242);
   opacity: 0.7;
}

.portfolioSelection {
    float: left;
}

.negative{
    fill: darkred;
}

.positive{
    fill: lightsteelblue;
}



.checkboxform{
    border: 1px black solid;
    width: 200px;
}

